Repository tloncorp/tlon-apps, pull requests merged in 2024-06, with the labels that each got.

#3569 native: aesthetics pass
  apps/tlon-mobile/ios/Podfile.lock
  apps/tlon-mobile/package.json
  apps/tlon-mobile/src/screens/ChatListScreen.tsx
  packages/shared/src/db/types.ts
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Channel/ChannelHeader.tsx
  packages/ui/src/components/Channel/index.tsx
  packages/ui/src/components/ChannelListItem/index.tsx
  packages/ui/src/components/ChatList.tsx
  packages/ui/src/components/FloatingActionButton.tsx
  packages/ui/src/components/GroupListItem/GroupListItemContent.tsx
  packages/ui/src/components/ListItem.tsx
  packages/ui/src/components/MessageInput/MessageInputBase.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/components/ProfileScreenView.tsx
  packages/ui/src/components/ScreenHeader.tsx
  packages/ui/src/components/SectionList.tsx
  packages/ui/src/index.ts
  packages/ui/src/tamagui.config.ts
  pnpm-lock.yaml
Labels: do not merge, eas-build-ios:demo

#3609 notify: get notifs from activity, not hark
  .github/workflows/sync-dev.yml
  apps/tlon-mobile/src/fixtures/ChannelDivider.fixture.tsx
  apps/tlon-mobile/src/hooks/useCalmSettings.ts
  apps/tlon-mobile/src/navigation/TabStack.tsx
  apps/tlon-mobile/src/screens/ChannelScreen.tsx
  apps/tlon-mobile/src/screens/ChatListScreen.tsx
  desk/app/notify.hoon
  desk/desk.docket-0
  packages/shared/src/api/apiUtils.ts
  packages/shared/src/api/channelsApi.ts
  packages/shared/src/api/chatApi.ts
  packages/shared/src/api/postsApi.ts
  packages/shared/src/db/modelBuilders.ts
  packages/shared/src/db/queries.ts
  packages/shared/src/db/query.ts
  packages/shared/src/logic/utils.ts
  packages/shared/src/store/postActions.ts
  packages/shared/src/store/sync.ts
  packages/shared/src/urbit/dms.ts
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Channel/ChannelDivider.tsx
  packages/ui/src/components/Channel/Scroller.tsx
  packages/ui/src/components/Channel/UploadedImagePreview.tsx
  packages/ui/src/components/Channel/index.tsx
  packages/ui/src/components/ChannelListItem/index.tsx
  packages/ui/src/components/ChannelNavSections.tsx
  packages/ui/src/components/ChatMessage/ChatMessage.tsx
  packages/ui/src/components/ContentRenderer.tsx
  packages/ui/src/components/DetailView/DetailView.tsx
  packages/ui/src/components/GroupListItem/GroupListItemContent.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/KeyboardAvoidingView.tsx
  packages/ui/src/components/ListItem.tsx
  packages/ui/src/components/MessageInput/AttachmentButton.native.tsx
  packages/ui/src/components/MessageInput/AttachmentButton.tsx
  packages/ui/src/components/MessageInput/MessageInputBase.tsx
  packages/ui/src/components/MessageInput/index.native.tsx
  packages/ui/src/components/MessageInput/index.tsx
  packages/ui/src/components/PostScreenView.tsx
  packages/ui/src/components/ProfileScreenView.tsx
  packages/ui/src/components/SearchBar.tsx
  packages/ui/src/components/SwipableChatListItem.tsx
  packages/ui/src/utils/channelUtils.tsx
  packages/ui/src/utils/colorUtils.tsx
Labels: notifications

#3535 dms: broadcast functionality
  apps/tlon-web/src/app.tsx
  apps/tlon-web/src/chat/ChatMessage/ChatMessage.tsx
  apps/tlon-web/src/chat/ChatMessage/ChatMessageOptions.tsx
  apps/tlon-web/src/chat/ChatScroller/ChatScroller.tsx
  apps/tlon-web/src/components/Sidebar/MessagesSidebar.tsx
  apps/tlon-web/src/components/Sidebar/Sidebar.tsx
  apps/tlon-web/src/dms/BroadcastDm.tsx
  apps/tlon-web/src/dms/BroadcastHero.tsx
  apps/tlon-web/src/dms/BroadcastInviteDialog.tsx
  apps/tlon-web/src/dms/BroadcastOptions.tsx
  apps/tlon-web/src/dms/BroadcastWindow.tsx
  apps/tlon-web/src/dms/DMOptions.tsx
  apps/tlon-web/src/dms/MessagesList.tsx
  apps/tlon-web/src/dms/MessagesSidebarItem.tsx
  apps/tlon-web/src/logic/utils.ts
  apps/tlon-web/src/state/broadcasts.ts
  apps/tlon-web/src/state/settings.ts
  desk/app/broadcaster.hoon
  desk/mar/broadcaster/action.hoon
Labels: enhancement, chat

#3683 various: add resource-id-ing ~| into common paths
  desk/app/channels-server.hoon
  desk/app/groups.hoon
Labels: devex
